:root {
	--dl-color-black: #000000;
	--dl-color-white: #ffffff;
	--dl-color-cangra-blue50: rgba(237, 241, 255, 1);
	--dl-color-cangra-blue100: rgba(199, 211, 255, 1);
	--dl-color-cangra-blue200: rgba(171, 190, 255, 1);
	--dl-color-cangra-blue300: rgba(133, 160, 255, 1);
	--dl-color-cangra-blue400: rgba(109, 141, 255, 1);
	--dl-color-cangra-blue500: rgba(73, 113, 255, 1);
	--dl-color-cangra-blue600: rgba(66, 103, 232, 1);
	--dl-color-cangra-blue700: rgba(52, 80, 181, 1);
	--dl-color-cangra-blue800: rgba(40, 62, 140, 1);
	--dl-color-cangra-blue900: rgba(31, 47, 107, 1);
}
