html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

.cangra-container {
  min-height: 100vh;
}
.cangra-main {
  width: 1200px;
  height: 4384px;
  display: flex;
  position: relative;
  max-width: 1200px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(248, 250, 255, 1);
}

.cangra-hero {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 1024px;
  display: flex;
  padding: 0 100px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
  background-image: linear-gradient(
    0deg,
    rgba(73, 113, 255, 1) 0%,
    rgba(65, 101, 229, 1) 34%,
    rgba(56, 87, 198, 1) 67%,
    rgba(41, 64, 145, 1) 100%
  );
}
.cangra-text {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-text01 {
  color: rgba(255, 255, 255, 1);
  width: 614px;
  height: auto;
  margin: 0 0 16px 0;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 65px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text02 {
  color: rgba(255, 255, 255, 1);
  width: 546px;
  height: auto;
  margin: 0 0 16px 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 39px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-c-t-a {
  display: flex;
  padding: 16px 32px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 215, 0, 1);
}
.cangra-text03 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-hero1 {
  width: 465px;
  height: 370px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-boxes {
  top: 879px;
  left: 47px;
  width: 1106px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-box1 {
  margin: 0 16px 0 0;
  display: flex;
  padding: 24px 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-snailicon {
  width: 100px;
  height: 100px;
  margin: 0 0 16px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-rectangle79 {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 251, 230, 1);
}
.cangra-svg {
  top: 30px;
  left: 26px;
  width: 48;
  height: 39;
  position: absolute;
}
.cangra-text04 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text05 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-box2 {
  margin: 0 16px 0 0;
  display: flex;
  padding: 24px 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-old-technology {
  width: 100px;
  height: 100px;
  margin: 0 0 16px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-rectangle791 {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 251, 230, 1);
}
.cangra-group {
  top: 30px;
  left: 22px;
  width: 57px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text06 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text07 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-box3 {
  display: flex;
  padding: 24px 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-priceicon {
  width: 100px;
  height: 100px;
  margin: 0 0 16px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-rectangle792 {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 251, 230, 1);
}
.cangra-group149 {
  top: 22.807708740234375px;
  left: 33.072265625px;
  width: 43px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text08 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text09 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame170 {
  top: 1168px;
  left: 0px;
  width: 1200px;
  height: 548px;
  display: flex;
  padding: 80px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text10 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  margin: 0 0 40px 0;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-cards {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-card {
  margin: 0 16px 0 0;
  display: flex;
  padding: 24px 16px;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-image130 {
  width: 64px;
  height: 64px;
  margin: 0 0 24px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
}
.cangra-name {
  margin: 0 0 24px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text11 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text12 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text13 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-card1 {
  margin: 0 16px 0 0;
  display: flex;
  padding: 24px 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-image1301 {
  width: 64px;
  height: 64px;
  margin: 0 0 24px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
}
.cangra-name1 {
  margin: 0 0 24px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text14 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text15 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text16 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-card2 {
  display: flex;
  padding: 24px 16px;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-image1302 {
  width: 64px;
  height: 64px;
  margin: 0 0 24px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 100px;
}
.cangra-name2 {
  margin: 0 0 24px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text17 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text18 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text19 {
  color: rgba(68, 68, 68, 1);
  width: 326px;
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customers {
  top: 1716px;
  left: 0px;
  width: 1200px;
  height: 358px;
  display: flex;
  padding: 36px 232px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    0deg,
    rgba(73, 113, 255, 1) 0%,
    rgba(65, 101, 229, 1) 34%,
    rgba(56, 87, 198, 1) 67%,
    rgba(41, 64, 145, 1) 100%
  );
}
.cangra-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 32px 0;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customers1 {
  width: 976px;
  height: 104px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-customer {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 104px;
  display: flex;
  padding: 12px 48px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-company {
  width: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-icon1 {
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-group153 {
  top: 3px;
  left: 9.999939918518066px;
  width: 21px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text21 {
  color: rgba(166, 166, 166, 1);
  width: 64px;
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customer1 {
  top: 0px;
  left: 204px;
  width: 160px;
  height: 104px;
  display: flex;
  padding: 12px 48px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-company1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-icon2 {
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-group158 {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text22 {
  color: rgba(166, 166, 166, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customer2 {
  top: 0px;
  left: 408px;
  width: 160px;
  height: 104px;
  display: flex;
  padding: 12px 48px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-company2 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-icon3 {
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-group159 {
  top: 6.0000505447387695px;
  left: 5px;
  width: 31px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text23 {
  color: rgba(166, 166, 166, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customer3 {
  top: 0px;
  left: 612px;
  width: 160px;
  height: 104px;
  display: flex;
  padding: 12px 48px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-company3 {
  height: 80.00010681152344px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-group160 {
  width: 28px;
  height: 32px;
  margin: 0 0 12px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text24 {
  color: rgba(166, 166, 166, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-customer4 {
  top: 0px;
  left: 816px;
  width: 160px;
  height: 104px;
  display: flex;
  padding: 12px 48px;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-company4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-icon5 {
  width: 40px;
  height: 40px;
  margin: 0 0 10px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cangra-group161 {
  top: 4.9999799728393555px;
  left: 5px;
  width: 31px;
  height: 31px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text25 {
  color: rgba(166, 166, 166, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-features {
  top: 2074px;
  left: 0px;
  width: 1200px;
  height: 926px;
  display: flex;
  padding: 80px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.cangra-text26 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  margin: 0 0 40px 0;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-img {
  width: 965px;
  height: 550px;
  margin: 0 0 40px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 20px;
}
.cangra-features1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.cangra-frame162 {
  margin: 0 64px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-feature {
  margin: 0 0 24px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-checkmark3 {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-feature1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-checkmark31 {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame163 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-feature2 {
  margin: 0 0 24px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-checkmark2 {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-feature3 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-checkmark32 {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-footer {
  top: 3924px;
  left: 0px;
  width: 1200px;
  height: 460px;
  display: flex;
  padding: 48px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-foundation_blue-blue8009c05d);
}
.cangra-frame1621 {
  display: flex;
  padding: 0 48px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-cangra2 {
  width: 129px;
  height: 73px;
  margin: 0 0 26px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-text31 {
  color: rgba(204, 204, 204, 1);
  width: 413px;
  height: auto;
  margin: 0 0 26px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame1622 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-col2 {
  margin: 0 64px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text33 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text34 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text35 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text36 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text37 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-col3 {
  margin: 0 64px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text38 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text39 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text40 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text41 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text42 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text43 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-col4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text44 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text45 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text46 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text47 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text48 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  margin: 0 0 6px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text49 {
  color: rgba(204, 204, 204, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-svg1 {
  width: 1200;
  height: 1px;
}
.cangra-package {
  top: 3000px;
  left: 0px;
  width: 1200px;
  height: 608px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(73, 113, 255, 1) 0%,
    rgba(65, 101, 229, 1) 34%,
    rgba(56, 87, 198, 1) 67%,
    rgba(41, 64, 145, 1) 100%
  );
}
.cangra-wave-cta1 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 608px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-frame164 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1200px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cangra-frame1641 {
  margin: 0 68px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text50 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 40px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.75;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-package-card {
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(52, 80, 181, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.cangra-our-packages {
  display: flex;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-foundation_blue-blue70020edb);
}
.cangra-text52 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame169 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cangra-frame165 {
  margin: 0 9px 0 0;
  display: flex;
  padding: 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cangra-text53 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame166 {
  margin: 0 9px 0 0;
  display: flex;
  padding: 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  justify-content: center;
}
.cangra-text54 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame167 {
  margin: 0 9px 0 0;
  display: flex;
  padding: 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  justify-content: center;
}
.cangra-text55 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame168 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  justify-content: center;
}
.cangra-text56 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-frame1623 {
  width: 100%;
  display: flex;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.cangra-frame1642 {
  width: 100%;
  margin: 0 0 16px 0;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.cangra-text57 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 165.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-svg2 {
  width: 436;
  height: 1px;
  margin: 0 0 8px 0;
}
.cangra-text58 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 165.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-svg3 {
  width: 436;
  height: 1px;
  margin: 0 0 8px 0;
}
.cangra-text59 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 165.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-svg4 {
  width: 100%;
  height: 1px;
  margin: 0 0 8px 0;
}
.cangra-text60 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: 165.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text61 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  width: 436px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: 165.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-get-started {
  top: 3608px;
  left: 0px;
  width: 1200px;
  height: 316px;
  display: flex;
  padding: 100px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cangra-text62 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  margin: 0 160px 0 0;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-c-t-a1 {
  display: flex;
  padding: 16px 32px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 215, 0, 1);
}
.cangra-text66 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-nav {
  top: 0px;
  left: 0px;
  width: 1200px;
  display: flex;
  padding: 24px 64px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.cangra-logo {
  width: 110px;
  height: 47px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cangra-nav1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.cangra-text67 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 24px 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text68 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 24px 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text69 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 24px 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text70 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 24px 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-text71 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  margin: 0 24px 0 0;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cangra-contact-us {
  display: flex;
  padding: 10px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 215, 0, 1);
}
.cangra-text72 {
  color: var(--dl-color-foundation_blue-blue70020edb);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
