$black: #000000;
$white: #ffffff;
$cangra-blue-50: rgba(237, 241, 255, 1);
$cangra-blue-100: rgba(199, 211, 255, 1);
$cangra-blue-200: rgba(171, 190, 255, 1);
$cangra-blue-300: rgba(133, 160, 255, 1);
$cangra-blue-400: rgba(109, 141, 255, 1);
$cangra-blue-500: rgba(73, 113, 255, 1);
$cangra-blue-600: rgba(66, 103, 232, 1);
$cangra-blue-700: rgba(52, 80, 181, 1);
$cangra-blue-800: rgba(40, 62, 140, 1);
$cangra-blue-900: rgba(31, 47, 107, 1);
