@use 'index' as *;

.cangra-main {
	position: relative;
}

.cangra-logo {
	width: 110px;
	height: 47px;
	position: relative;
	object-fit: cover;
}

.cangra-nav {
	@include flex(center, space-between);
	z-index: 1;
	width: 100%;
	padding: 24px 64px;
	position: absolute;

	&__items {
		@include flex(center, center);
		position: relative;
		gap: 1rem;
	}

	&__item {
		color: white;
		font-size: 1rem;
	}

	&__button {
		@include flex(center, center);
		padding: 10px 20px;
		position: relative;
		border-radius: 8px;
		background-color: rgba(255, 215, 0, 1);
	}

	&__button-text {
		color: $cangra-blue-700;
		font-size: 1rem;
		font-weight: 500;
	}
}

.cangra-hero {
	width: 100vw;
	height: 100vh;
	gap: 1.5rem;
	position: relative;
	@include flex(center, center);
	background-image: linear-gradient(
		0deg,
		rgba(73, 113, 255, 1) 0%,
		rgba(65, 101, 229, 1) 34%,
		rgba(56, 87, 198, 1) 67%,
		rgba(41, 64, 145, 1) 100%
	);

	&__wrapper {
		@include flex(flex-start, center, column);
		position: relative;
		box-sizing: border-box;
		flex-shrink: 1;
		border-color: transparent;

		& > .title {
			color: white;
			width: 614px;
			margin-bottom: 1rem;
			font-size: 3rem;
			font-weight: 700;
			line-height: 4rem;
		}

		& > .desc {
			color: white;
			width: 546px;
			height: auto;
			margin-bottom: 1rem;
			font-size: 1.25rem;
			line-height: 2.5rem;
		}

		& > .cta {
			display: flex;
			padding: 16px 32px;
			align-items: center;
			border-radius: 10px;
			justify-content: center;
			background-color: rgba(255, 215, 0, 1);
			color: $cangra-blue-700;
			font-weight: 500;
		}
	}

	&__img {
		width: 465px;
		height: 370px;
		object-fit: cover;
	}
}

.cangra-boxes {
	bottom: 80px;
	width: 100%;
	position: relative;
	@include flex(center, center);
	gap: 1rem;

	.cangra-box {
		padding: 24px 16px;
		position: relative;
		box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.1), 0px 4px 6px -4px rgba(73, 113, 255, 0.1);
		border-radius: 10px;
		@include flex(center, center, column);
		background-color: white;

		&__icon {
			width: 100px;
			height: 100px;
			margin-bottom: 1rem;
			overflow: hidden;
			@include flex(center, center);

			&-bg {
				width: 80px;
				height: 80px;
				position: relative;
				@include flex(center, center, column);
				border-radius: 10px;
				background-color: rgba(255, 251, 230, 1);
			}
		}

		&__title {
			margin-bottom: 1rem;
			font-size: 16px;
		}

		&__desc {
			color: rgba(68, 68, 68, 1);
			width: 326px;
			font-size: 12px;
			text-align: center;
			line-height: 30px;
		}
	}
}

.cangra-clients {
	margin: 2rem 0 7rem 0;
	position: relative;
	border-color: transparent;
	@include flex(center, center, column);

	&__title {
		color: $cangra-blue-700;
		margin-bottom: 40px;
		font-size: 2rem;
		font-weight: 700;
	}

	&__cards {
		position: relative;
		box-sizing: border-box;
		@include flex(center);
		gap: 1rem;

		.card {
			padding: 24px 16px;
			position: relative;
			box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.1), 0px 4px 6px -4px rgba(73, 113, 255, 0.1);
			border-radius: 10px;
			@include flex(center, center, column);
			background-color: white;

			img {
				width: 64px;
				height: 64px;
				margin-bottom: 1rem;
				position: relative;
				box-sizing: border-box;
				object-fit: cover;
				border-color: transparent;
				border-radius: 100px;
			}

			&__profile {
				margin-bottom: 0.5rem;
				display: flex;
				position: relative;
				box-sizing: border-box;
				align-items: center;
				flex-shrink: 1;
				flex-direction: column;

				.name {
					margin-bottom: 0.5rem;
					font-size: 1rem;
					font-weight: 700;
				}

				.company {
					font-size: 14px;
				}
			}

			&__desc {
				width: 326px;
				font-size: 12px;
				text-align: center;
				line-height: 2rem;
				font-stretch: normal;
				text-decoration: none;
			}
		}
	}
}

.cangra-customers {
	width: 100%;
	height: 20rem;
	position: relative;
	@include flex(center, center, column);
	background-image: linear-gradient(
		135deg,
		rgba(73, 113, 255, 1) 0%,
		rgba(65, 101, 229, 1) 34%,
		rgba(56, 87, 198, 1) 67%,
		rgba(41, 64, 145, 1) 100%
	);

	&__title {
		color: white;
		margin-bottom: 2rem;
		font-size: 2rem;
		font-weight: 700;
	}

	&__wrapper {
		gap: 2rem;
		position: relative;
		@include flex(flex-start);

		.company {
			width: 10rem;
			height: 7rem;
			padding: 12px 48px;
			box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.1), 0px 4px 6px -4px rgba(73, 113, 255, 0.1);
			@include flex(center, center);
			border-radius: 10px;
			background-color: white;

			&__wrapper {
				width: 64px;
				@include flex(center, center, column);

				.icon {
					width: 40px;
					height: 40px;
					margin-bottom: 10px;
					position: relative;
					@include flex(center, center);

					img {
						position: relative;
					}
				}

				.name {
					color: rgba(166, 166, 166, 1);
					width: 64px;
					font-size: 12px;
					text-align: center;
					font-weight: 500;
					line-height: 15px;
				}
			}
		}
	}
}

.cangra-features {
	width: 100%;
	margin: 80px 0;
	@include flex(center, center, column);

	&__title {
		color: $cangra-blue-700;
		margin-bottom: 40px;
		font-size: 2.5rem;
		font-weight: 700;
	}

	img {
		width: 965px;
		height: 550px;
		margin-bottom: 40px;
		object-fit: cover;
		border-radius: 20px;
	}

	.cangra-feature {
		@include flex(center, center);
		position: relative;

		.feature-col {
			margin-right: 4rem;
			position: relative;
			@include flex(flex-start, default, column, 24px);

			.feature {
				position: relative;
				@include flex(center, center);

				img {
					width: 32px;
					height: 32px;
					margin: 0 10px 0 0;
					position: relative;
					box-sizing: border-box;
					object-fit: cover;
					border-color: transparent;
				}
			}

			.feature-name {
				font-size: 1.5rem;
				font-weight: 600;
			}
		}
	}
}

.cangra-packages {
	width: 100%;
	position: relative;
	@include flex(flex-start);
	background-image: linear-gradient(
		0deg,
		rgba(73, 113, 255, 1) 0%,
		rgba(65, 101, 229, 1) 34%,
		rgba(56, 87, 198, 1) 67%,
		rgba(41, 64, 145, 1) 100%
	);

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
	}

	&__wrapper {
		width: 100%;
		padding: 4rem;
		@include flex(center, center);

		.header {
			margin-right: 5rem;
			@include flex(default, default, column);
			position: relative;

			&__title {
				color: white;
				margin-bottom: 0.5rem;
				font-size: 2.5rem;
				font-weight: 700;
			}

			&__desc {
				color: white;
				opacity: 0.75;
				font-size: 1.5rem;
				font-weight: 400;
			}
		}
	}

	.card {
		display: flex;
		overflow: hidden;
		position: relative;
		box-shadow: 0px 10px 15px -3px rgba(73, 113, 255, 0.1), 0px 4px 6px -4px rgba(73, 113, 255, 0.1);
		border: 1px solid rgba(52, 80, 181, 1);
		border-radius: 20px;
		flex-direction: column;

		&__header {
			padding: 24px 16px;
			display: flex;
			position: relative;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background-color: $cangra-blue-700;

			.title {
				color: white;
				margin-bottom: 1rem;
				font-size: 1.5rem;
				font-weight: 600;
			}

			.buttons {
				display: flex;
				gap: 0.5rem;
				position: relative;
				align-items: center;

				.button.active {
					background-color: white;

					.button__text {
						color: $cangra-blue-700;
						font-weight: 700;
					}
				}

				.button {
					display: flex;
					padding: 8px 16px;
					position: relative;
					align-items: center;
					justify-content: center;
					border: 1px solid white;
					border-radius: 5px;
					cursor: pointer;

					&__text {
						color: white;
						font-size: 14px;
						-webkit-touch-callout: none; /* iOS Safari */
						-webkit-user-select: none; /* Safari */
						-khtml-user-select: none; /* Konqueror HTML */
						-moz-user-select: none; /* Old versions of Firefox */
						-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
					}
				}
			}
		}

		&__desc {
			width: 100%;
			display: flex;
			padding: 24px 16px;
			position: relative;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: white;
		}

		&__desc__wrapper {
			width: 100%;
			margin-bottom: 1rem;
			display: flex;
			position: relative;
			align-items: center;
			flex-direction: column;
			gap: 0.5rem;
		}

		&__desc__text {
			color: rgba(68, 68, 68, 1);
			font-size: 1.25rem;
			text-align: center;
			line-height: 165%;
		}

		.cangra-cangra-packages-card__desc__separator {
			width: 100%;
			height: 1px;
		}

		&__desc__price {
			color: $cangra-blue-700;
			font-size: 2rem;
			font-weight: 600;
			line-height: 165%;
		}
	}
}

.cangra-get-started {
	display: flex;
	padding: 100px 320px;
	align-items: center;
	justify-content: space-between;
}

.cangra-get-started__text {
	color: $cangra-blue-700;
	font-size: 3rem;
	font-weight: 700;
}
.cangra-get-started__cta {
	display: flex;
	padding: 16px 32px;
	position: relative;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgba(255, 215, 0, 1);
}

.cangra-get-started {
	color: $cangra-blue-700;
	font-size: 1.5rem;
	font-weight: 700;
}

.cangra-footer {
	padding: 48px 0;
	display: flex;
	gap: 2.5rem;
	position: relative;
	flex-direction: column;
	background-color: $cangra-blue-800;
}

.cangra-footer__wrapper {
	padding: 0 48px;
	gap: 2rem;
	display: flex;
	position: relative;
	align-items: flex-start;
	flex-direction: column;
}

.cangra-footer__logo {
	position: relative;
	object-fit: cover;
}

.cangra-footer__desc {
	color: rgba(204, 204, 204, 1);
	height: auto;
	font-size: 14px;
	align-self: auto;
	font-style: normal;
	text-align: left;
	font-weight: 400;
	line-height: normal;
	font-stretch: normal;
	text-decoration: none;
}

.cangra-footer__links {
	display: flex;
	position: relative;
}
.cangra-footer__col {
	margin-right: 4rem;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cangra-footer__link.title {
	color: white;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.cangra-footer__link {
	color: rgba(204, 204, 204, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	font-stretch: normal;
	text-decoration: none;
}

.cangra-footer__separator {
	content: ' ';
	width: 100%;
	border-top: 1px solid rgba(204, 204, 204, 0.5);
	height: 1px;
	position: relative;
}
